@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    /* default theme */
    :root {
        /* --var-name: rgb value */
        --color-accent: 59, 130, 246; /* #3B82F6 */
        --color-secondary: 247, 204, 21;
        --color-primary: 0, 0, 0; /* white */
        --color-muted: 255, 255, 255;

        --bg-accent: 59, 130, 246;
        --bg-primary: 10, 20, 47;
        --bg-secondary: 253, 240, 213;
        --bg-muted: 255, 255, 255; /* black */

        --border-accent: 59, 130, 246;
        --border-primary: 255, 130, 53;
        --border-secondary: 247, 204, 21;
        
            
    }
}