.review-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    transition: opacity ease-in-out 0.4s;
}

.review-content-animation {
    opacity: 1;
    visibility: visible;
    height: auto;
    width: auto
}

.dot {
    @apply w-3 h-3 mr-4 bg-gray-400 rounded-full cursor-pointer;
}

.dot-active {
    background-color: black;
}